.cardsDiv{

    
    border: solid 2px;
    margin: 0;


    p{
        background-color: #00A676;
        opacity: 75%;
        padding: 20px 0;
        margin-top: 300px;
        margin-bottom: 0;
        text-align: center;
        font-size: 14px;

    }

}