.mainArea {

    hr {
        border: none;
        height: 2px;
        background-color: #00a676; 
        margin: 20px 0;
    }

    p{
        color: #fff;

    }

    h1{
        color:#fff;
    }

    h3{
        color: #fff;
    }
}
